<button class="btn btn-primary" (click)="openPop()">Open Modal</button>
<app-popup *ngIf="visible"  appClosePage>
  <app-inner-popup appStopPropagation>
    <h3 class="mb-5">Inner Popup Modal</h3>
    <p>Closures are closely related to function scopes, so understanding how these scopes work will help you understanding closures. In short, the most important thing to understand about scopes is that when you execute a function, a private function scope is created and used for the process of executing that function.</p>
    <button class="btn btn-danger" (click)="closePop()">Close</button>
  </app-inner-popup>
</app-popup>
